<div ng-include="'components/navbar/navbar.html'"></div>
<header class="hero-unit minimal" id="banner">
  <div class="top-gradient"></div>
  <div class="left-gradient"></div>
  <div class="verse">But the fruit of the Spirit is love, joy, peace, patience, kindness, goodness, faithfulness, gentleness, self-control; against such things there is no law.</div>
</header>
<div class="container">
    <button ng-show="isDirty" ng-click="save()" class="btn btn-lg btn-primary">
        <span ng-show="!isSaving">Save</span>
        <span ng-show="isSaving">Saving...</span>
    </button>
    <table class="table">
        <thead>
            <th>Name</th>
            <th>Tags</th>
            <th>Admin</th>
            <th>Delete</th>
        </thead>
        <tbody>
            <tr ng-repeat="user in users">
                <td>{{user.firstname}} {{user.lastname}}</td>
                <td>
                    <span class="dropdown" dropdown on-toggle="toggled(open)">
      <a href class="dropdown-toggle" dropdown-toggle>
        Add
      </a>
      <ul class="dropdown-menu">
        <li ng-repeat="tag in tags">
          <a ng-click="addTag(user, tag)">{{tag.name}}</a>
        </li>
      </ul>
    </span>
                    <span class="tag" ng-repeat="tag in user.tags">{{tag.name}} <a ng-click="removeTag(user, tag)">rem</a></span>
                </td>
                <td>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" ng-model="user.isAdmin" ng-change="handleChange(user)">
                        </label>
                    </div>
                </td>
                <td>
                    <button ng-click="delete(user)" class="btn btn-sm btn-primary">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
