
.login-page {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f4fbff+0,eff9ff+49,f4fbff+100 */
  background: rgb(244,251,255); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(244,251,255,1) 0%, rgba(239,249,255,1) 49%, rgba(244,251,255,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(244,251,255,1)), color-stop(49%,rgba(239,249,255,1)), color-stop(100%,rgba(244,251,255,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left,  rgba(244,251,255,1) 0%,rgba(239,249,255,1) 49%,rgba(244,251,255,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left,  rgba(244,251,255,1) 0%,rgba(239,249,255,1) 49%,rgba(244,251,255,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left,  rgba(244,251,255,1) 0%,rgba(239,249,255,1) 49%,rgba(244,251,255,1) 100%); /* IE10+ */
  background: linear-gradient(to right,  rgba(244,251,255,1) 0%,rgba(239,249,255,1) 49%,rgba(244,251,255,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4fbff', endColorstr='#f4fbff',GradientType=1 ); /* IE6-9 */
}

/**
 * Bootstrap Fonts
 */

@font-face {
    font-family: 'Glyphicons Halflings';
    src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot');
    src: url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../bower_components/bootstrap/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
/**
 *Font Awesome Fonts
 */

@font-face {
    font-family: 'FontAwesome';
    src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?v=4.1.0');
    src: url('../bower_components/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=4.1.0') format('embedded-opentype'), url('../bower_components/font-awesome/fonts/fontawesome-webfont.woff?v=4.1.0') format('woff'), url('../bower_components/font-awesome/fonts/fontawesome-webfont.ttf?v=4.1.0') format('truetype'), url('../bower_components/font-awesome/fonts/fontawesome-webfont.svg?v=4.1.0#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/**
 * App-wide Styles
 */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

label {
    color: black;
    font-size: 14px;
    font-weight: bold;
}

.not-required {
    color: gray;
    font-size: 10px;
}

.navbar {
  border: none;
  box-shadow: none;
  margin-bottom: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: none;
}

.navbar-default .navbar-text {
    color: black;
}

.panel-warning > .panel-heading {
    background-color: #B8720B !important;
}

.panel-title {
    font-size: 18px !important;
    color: white !important;
}

.navbar-default .navbar-nav > li > a {

}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #212121;
    background-color: rgba(255, 250, 242, 0.5);
    border-radius: 0;
}

.modal-backdrop.in {
    opacity: 0;
}

/*.btn-group-vertical>.btn,*/
/*.btn-group>.btn {*/
    /*background-color: #fffaf2;*/
/*}*/

.form-control {
    font-size: 22px;
    display: block;
    width: 100%;
    height: 100%;
    padding: 5px 10px;
    border: 1px solid #a0b3b0;
    border-radius: 0;
    -webkit-transition: border-color .25s ease, box-shadow .25s ease;
    transition: border-color .25s ease, box-shadow .25s ease;
}

.form-control:focus {
    outline: 0;
    border-color: #1ab188;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
    background-color: #1ab188;
    border: none;
}

h1, h2, h3 {
    font-weight: bold;
}

.form-group textarea {
    width: 100%;
    min-height: 100px;
}

textarea,
/*input,
*/textarea.form-control,
input.form-control,
input[type=text],
input[type=password],
input[type=email],
input[type=number],
[type=text].form-control,
[type=password].form-control,
[type=email].form-control,
[type=tel].form-control,
[contenteditable].form-control {
    /*padding-left: 10px !important;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) !important;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3) !important;*/
}

textarea:focus, textarea.form-control:focus, input.form-control:focus, input[type=text]:focus, input[type=password]:focus, input[type=email]:focus, input[type=number]:focus, [type=text].form-control:focus, [type=password].form-control:focus, [type=email].form-control:focus, [type=tel].form-control:focus, [contenteditable].form-control:focus {
  /*background: white;*/
}

select,
select.form-control {
    height: 37px !important;
    padding-left: 10px !important;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
}

.navbar-default .navbar-nav > li > a {
    font-size: 18px;
    color: black;
}

.navbar-default .navbar-text {
    color: black;
    font-size: 18px;
    padding: 0;
    margin-bottom: 10px;
    margin-top: 16px;
}

.tag {
    background: #FFAA26;
    margin: 2px;
    padding: 4px;
    color: white;
    border-radius: 2px;
}

.hero-unit {
  border-bottom: none;
  margin-top: -40px;
  padding: 0;
  height: 500px;
  background: url(/assets/images/blueberries_dark.jpg);
  background-size: cover;
  background-position: 50%;
  position: relative;
  margin-bottom: 30px;
}

.hero-unit.minimal {
  height: 114px;
}

.hero-unit .verse {
  display: none;
    position: absolute;
    color: white;
    bottom: 30px;
    right: 10px;
    font-size: 17px;
    width: 23%;
    line-height: 1.5;
}



.hero-unit .title {
  position: absolute;
  top: 58px;
  left: 28px;
  font-size: 18px;
  color: #DFDFDF;
}

.hero-unit .tagline {
    position: static;
    padding-top: 96px;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
    font-size: 28px;
    line-height: 1.2;
}

.hero-unit .call-to-action {
    position: static;
    color: white;
    font-weight: bold;
    font-size: 17px;
    background-color: #45aaff;
    padding: 10px 20px;
}

@media (min-width: 768px) {

  .hero-unit .verse {
    display: block;
  }

  .hero-unit .tagline {
    padding-top: 0;
    position: absolute;
    top: 40%;
    left: 150px;
  }

  .hero-unit .call-to-action {
    position: absolute;
    top: 57%;
    left: 253px;
   
  }

}

.hero-unit.minimal .verse{
  top: 50px;
  left: 10px;
  width: 40%;
  font-size: 14px;
}

.hero-unit .top-gradient {
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&amp;0.9+0,0+100;Neutral+Density */
background: -moz-linear-gradient(top,  rgba(0,0,0,0.9) 0%, rgba(0,0,0,0) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.9)), color-stop(100%,rgba(0,0,0,0))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0.9) 0%,rgba(0,0,0,0) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6000000', endColorstr='#00000000',GradientType=0 ); /* IE6-9 */


  height: 100px;

}


.nav-pills > li {
  float: right;
}

.promotional-banner  {
  text-align: center;
  margin-bottom: 50px;
}

.promotional-banner ul {
  margin: 0px auto;
  display: inline-block;
  text-align: left;
  font-size: 22px;
  font-weight: bold;
  line-height: 1.5;
}

.promotional-banner h3 {
  font-weight: bold;
}

.faces-banner {
  background: white;
}

.faces-banner img {
  width: 100%;
}

.login-row {
  background: white;
  margin-top: 40px;
  padding-bottom: 80px;
}

.basic-contact-info {
  text-align: center;
  background: white;
}

.login-row-info {
  text-align: center;
}

.login-row-info-container {
  display: inline-block;
    text-align: left;
    line-height: 1;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    font-size: 17px;

}

@media (min-width: 768px) {
  .login-row-info-container  {
    display: inline-block;
    width: 60%;
    text-align: left;
  }
  .navbar-default .navbar-nav > li > a {
    font-size: 18px;
    color: #DFDFDF;
  }
}


@media (min-width: 992px) {
  .container {
      width: 100%;
  }
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: rgba(255, 255, 255, 1);
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  background: white;
}
