.thing-form {
    margin: 20px 0;
}

.hero-unit {
    position: relative;
    padding: 0;
    color: black;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
}

.user-thumbnail {
    text-align: center;
    padding: 10px;
}

.thumb-picture {
    width: 100%;
    height: 100px;
    background-size: cover;
    background: url(http://media-cache-ec0.pinimg.com/236x/1c/76/36/1c7636906717be2719923f3e83c4502c.jpg);
}

.large-thumbs .thumb-picture {
    height: 150px;
}

.user-name,
.user-email {
    text-align: center;
    font-size: 14px;
    color: black;
    font-size: 10px;
}

.user-name {
    margin-top: 4px;
    font-weight: bold;
}

.profile-item {
    margin: 3px;
    overflow-wrap: break-word;
    min-width: 100px;
    position: relative;
}

.directory img {
    width: 100%;
}

.directory .col-md-5 {
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
}

.navbar-nav {
    margin: 0;
    width: 100%;
    padding: 5px;
}

.section-name {
    display: inline-block;
    font-weight: bold;
    padding-top: 14px;
    padding-left: 20px;
    font-size: 18px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.6);
    font-size: 20px;
    text-shadow: rgba(255, 255, 255, 0.2) 3px 2px 3px;
}

.select-profile-button {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 10000;
    font-size: 18px;
    color: #aaa;
}

table .select-profile-button {
    position: static;
}

table.no-overflow {
    overflow: none;
}

.directory-table {
    table-layout: fixed;
}

.table-hover > tbody > tr, .table-hover > tbody > tr > th, .table-hover > tbody > tr > td {
    background: #f9f9f9;
  overflow: hidden;
  text-overflow: ellipsis;
}

.selected-users {
    min-height: 30px;
    padding-bottom: 10px;
}

.selected-users .btn-group {
    float: left;
    margin: 0;
    margin-right: 7px
}

.selected-users .user-name-container {
    float: left;
    padding: 6px;
    margin-bottom: 0px;
    margin-right: 5px;
}

.select-profile-button.selected {
    color: green;
}

.table-hover > tbody > tr, .table-hover > tbody > tr > th, .table-hover > tbody > tr > td {
    background: #f9f9f9;
}

.whatisthis  {

  font-size: 10px;
  color: blue;

}

.tag-btn-group .btn {
    padding: 2px 4px 2px 4px;
}

.adv-btn-group .btn.active {
    background: #FFAA26;
}

.btn-group

@media (min-width: 768px) {
    .navbar-text {
        display: none;
    }
    .navbar-nav {
        margin: 0;
        width: auto;
        border-top: none;
        padding: 0px;
    }
}

@media (min-width: 990px) {
    .thumb-picture {
        width: 100px;
        height: 100px;
    }
    .large-thumbs .thumb-picture {
        height: 150px;
        width: 150px;
    }
    .user-name {
        margin-top: 24px;
        font-size: 16px;
    }
}
