<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container directory">
    <div class="row">
        <div class="col-sm-6">
            <div>
                <label>Filter by keyword:</label>
            </div>
            <div class="form-group">
                <input class="form-control" type="text" placeholder="keyword..." ng-model="search">
            </div>
        </div>
        <div class="col-sm-3">
            <div>
                <label>Sort by:</label>
            </div>
            <div class="form-group">
                <select class="form-control" id="select" ng-change="onSelectChange()" ng-model="groupBy">
                    <option value="firstnameAsc">First Name Ascending</option>
                    <option value="firstnameDes">First Name Descending</option>
                    <option value="lastnameAsc">Last Name Ascending</option>
                    <option value="lastnameDes">Last Name Descending</option>
                </select>
            </div>
        </div>
        <div class="col-sm-3">
            <div>
                <label>View mode:</label>
            </div>
            <div class="btn-group">
                <a href="#" class="btn btn-default" ng-class="{active: mode ==='list'}" ng-click="setDisplayMode('list')"><span class="glyphicon glyphicon-th-list"></span></a>
                <a href="#" class="btn btn-default" ng-class="{active: mode ==='tile'}" ng-click="setDisplayMode('tile')"><span class="glyphicon glyphicon-th"></span></a>
                <a href="#" class="btn btn-default" ng-class="{active: mode ==='lg-tile'}" ng-click="setDisplayMode('lg-tile')"><span class="glyphicon glyphicon-th-large"></span></a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-4" ng-show="mode ==='tile'" ng-repeat="user in users | filter:search">
            <div class="profile-item panel panel-default">
                <a ng-href="/profile/{{user._id}}">
                    <div class="clearfix">
                        <div class="col-md-5">
                            <div class="thumb-picture" style="background-image: url({{user.picture || defaultPic() }}); background-size: cover;"></div>
                        </div>
                        <div class="col-md-7">
                            <div class="user-name">{{user.firstname}} {{user.lastname}}</div>
                            <div class="user-email">{{user.email}}</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-6  large-thumbs" ng-show="mode ==='lg-tile'" ng-repeat="user in users | filter:search">
            <div class="profile-item panel panel-default">
                <a ng-href="/profile/{{user._id}}">
                    <div class="clearfix">
                        <div class="col-md-5">
                            <div class="thumb-picture" style="background-image: url({{user.picture || defaultPic() }}); background-size: cover;"></div>
                        </div>
                        <div class="col-md-7">
                            <div class="user-name">{{user.firstname}} {{user.lastname}}</div>
                            <div class="user-email">{{user.email}}</div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-xs-12" ng-show="mode ==='list'">
            <table class="table table-striped table-hover ">
  <thead>
    <tr>
      <th>First</th>
      <th>Last</th>
      <th>Email</th>
      <th>Phone</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="user in users | filter:search">
      <td><a ng-href="/profile/{{user._id}}">{{user.firstname}}</a></td>
      <td>{{user.lastname}}</td>
      <td><a href="mailto:{{user.email}}" target="_top">{{user.email}}</a></td>
      <td><a href="tel:{{user.phone}}">{{user.phone | tel}}</a></td>
      </a>
    </tr>
  </tbody>
</table> 


          
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <p>CIEFC &#169 2015 |
                <a href="https://www.facebook.com/joseph.jung.14">Created by Joseph Jung</a> |
                <a href="https://github.com/ozymandias547/directory/issues">Report Bug</a></p>
        </div>
    </footer>
